
<div class="row-fluid">
  <div class="span12">
    Fluid 12
    <div class="row-fluid">
      <div class="span4">Fluid 4</div>
      <div class="span8">
        Fluid 8
        <div class="row-fluid">
          <div class="span4">Fluid 4</div>
          <div class="span4">Fluid 4</div>
        </div>
      </div>
    </div>
  </div>
</div>