Fluid 8
<div class="row-fluid">

  <% @questions.each do |question| %>
    <li> <%= link_to 'Question', question_path %> </li>
  <% end %>

  <div class="span4">Fluid 4</div>
  <div class="span4">Fluid 4</div>
</div>