<form>
  <fieldset>
    <legend>Question</legend>
    <label>Question</label>
    <input type="text" placeholder="Type your question here..." size="75">
    <label>Answer</label>
    <input type="text" placeholder="Type true or false" size="20">
    <button type="submit" class="btn">Submit</button>
  </fieldset>
</form>