<form>
  <fieldset>
    <legend>Question</legend>
    <label>Question</label>
    <input type="text" placeholder="Type your question here..." size="75">
    <span class="help-block">Example block-level help text here.</span>
    <label class="checkbox">
      <input type="checkbox"> True
    </label>
    <label class="checkbox">
      <input type="checkbox"> False
    </label>
    <button type="submit" class="btn">Submit</button>
  </fieldset>
</form>