Fluid 8
<div class="row-fluid">

  <% @statement.each do |statement| %>
    <li>  <%= link_to "Statement", statement_path(statement) %> 
          <%= link_to 'True', vote_true_statement_path(statement), 
            class: "btn-small" %>
          <%= link_to 'False', vote_false_statement_path(statement), 
            class: "btn-small" %> </li>
  <% end %>

  <%= link_to 'Add a statement', new_statement_path, class: "btn" %>

  <div class="span4">Fluid 4</div>
  <div class="span4">Fluid 4</div>
</div>