<div class="row-fluid">

  <% if current_user %>

    <% @statement.each do |statement| %>
      <li>  <%= link_to "Statement", statement_path(statement) %> 
            <%= link_to 'True', vote_true_statement_path(statement), 
              class: "btn-small" %>
            <%= link_to 'False', vote_false_statement_path(statement), 
              class: "btn-small" %> </li>
      <% end %>

      <%= link_to 'Add a statement', new_statement_path, class: "btn" %>

    <% else %>

      <div class="hero-unit">
        <h1>So you think you are clever...</h1>
        <p>Answer true or false to these questions and let's find out if you're FoS!  See stats on yours and other's awesomeness while you prove your worth in each category.</p>
        <p><a href="/auth/twitter" class="btn btn-primary btn-large">Sign in with Twitter &raquo;</a></p>
      </div>

    <% end %>

</div>