Fluid 8
<div class="row-fluid">

  <% @statement.each do |statement| %>
    <li> <%= link_to "Statement", statements_path %> </li>
  <% end %>

  <%= link_to 'Add a statement', new_statement_path, class: "btn" %>

  <div class="span4">Fluid 4</div>
  <div class="span4">Fluid 4</div>
</div>