<% if @first_unvoted != nil %>

  <h3> <%= @statement.statement %> </h3>

  <p> <%= @statement.true_or_false %> </p>

  <%= link_to 'Statement List', statements_path, class: "btn" %>
  <%= link_to 'Update', edit_statement_path, class: "btn" %>

<% else %>

