$('.vote').click(function() {
  $('#statement').children().replaceWith('<ul> <li> <%= @last_voted.statement %> <br/>
    <%= link_to "Next Statement", Statement.find_unvoted(current_user).first %> </li> </ul>');
});