<div class='hero-unit'>
  <p> <strong>Results</strong> </p>
  <table class='table table-condensed'>
    <thead>
      <tr>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Answered correctly</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Answered incorrectly</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Total questions</td>
        <td><%= Statement.count %></td>
        <td>100%</td>
      </tr>
    </tbody>
  </table>
</div>